@font-face {
    font-family: FavoritStd-Regular;
    src: url(assets/fonts/FavoritStd-Regular.otf);
}

* {
  box-sizing: border-box;
}

body{
    color:black;
    font-family: FavoritStd-Regular;
    font-weight:400;
    font-size:22px;
    line-height:1.4;
    }

header{
background-color:white;
position:fixed;
height:72px;
top:0;
font-size: 22px;
/* left: 20px; */
margin-left:-10px;
border-bottom: solid black 2px;
min-width: 100.2%;
z-index:2;
color:black;
z-index:99;
font-weight:400;
}

.h1Left{
  float:left;
position:fixed;
font-size: 30px;
top: 17px;
left:20px;
  z-index:3;
}

/* header.h1{
padding: 10px 15px;
float:left;
left:10px;
overflow:hidden;
} */

nav{
font-size:30px;

color:black;
text-decoration:none;
float:right;
text-align:right;
margin-right:20px;
padding-top:17px;
}
.infoButton{
text-align:center;
width:100vw;
left: 8px;
right: auto;
position:fixed;
float:inline;
}

/* a.nav{
padding-left: 10px;
} */

/* Titel von Projekten */
h2{
font-weight:400;
font-size:30px;
/* line-height:1.4; */
/* margin-top:17px; */
padding-right:20px;
}

/* Kleiner text e.g. Konzept und Gestaltung */
h3{
margin-top:-20px;
margin-left:3px;
font-weight:400;
font-size: 16px;
}

/* Fliesstext */
p{
font-weight:200;
float:left;
line-height:1.35;
font-size:22px;
margin-left:2px; 
margin-top:20px;
padding-right:20px;
}
#first{
margin-top:-20px;
}
#rot{
color:#FC0048;  
}
#vio{
color:#A23FA2;
}
#orange{
color:#FD683A;
}
#braun{
color:#B77F32;
}
#bord{
color:#BD687F;
}

a.nav{
color:black;
}

a{
color:black;    
text-decoration: none;
}
a:hover{
opacity:0.5;    
}




section.half {
    display: flex;
  }

section.project1{
    margin-top:72px;
    border-bottom:#A23FA2 solid 2px;
    width:100vw;
    margin-left:-8px;
}
section.project2{
    border-bottom:black solid 2px;
    width:100vw;
    margin-left:-8px;
}
section.project3{
    border-bottom:black solid 2px;
    width:100vw;
    margin-left:-8px;
}
  
  /* section:nth-child(odd) {
    flex-direction: row-reverse;
  } */
  
  section.half div.half {
    width: 50vw;
  }
  
  section div.text {
    /* background-color:white; */
    /* padding-top: 60px; */
    height: 33.33vw;
    /* margin-right: 16px; */
  }

  div.text{
  margin-top:-10px;
  margin-left:20px;
  }
  
  div.sideImage {
    /* height: 58vh; */
    width:50vw;
    background-size: cover;
    background-position: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    margin-left:-8px;
  }
  img{
    object-fit: cover;
    height:100vh;
  } 
  div.image-1 {
    background-image: url(assets/imgs/ImagesProjekte/Projektbild_Freidorf_Weinetike.png);
  }
  div.image-1:hover {
    background-image: url(assets/imgs/ImagesProjekte/Projektbild_Freidorf_Weinetikette.jpeg);
    transition-delay:0.3s;
    transition-timing-function: ease
    -webkit-animation: reveal 4s ease;
    -webkit-animation-fill-mode: backwards;
  }
  div.image-2 {
    background-image: url(assets/imgs/ImagesProjekte/Projektbild_Freidorf_Informati.png);
  }
  div.image-2:hover {
    background-image: url(assets/imgs/ImagesProjekte/Projektbild_Freidorf_Informationstafeln.jpeg);
    transition-delay:0.3s;
    transition-timing-function: ease
    -webkit-animation: reveal 4s ease;
    -webkit-animation-fill-mode: backwards;
  }
  div.image-3 {
    background-image: url(assets/imgs/ImagesProjekte/Projektbild_JKF_Weichzeichner.jpeg);
  }
  div.image-3:hover {
    background-image: url(assets/imgs/ImagesProjekte/Projektbild_JKF.jpeg);
    transition-delay:0.3s;
    transition-timing-function: ease
    -webkit-animation: reveal 4s ease;
    -webkit-animation-fill-mode: backwards;
  }

  /* div.sideImage{
  -webkit-filter: blur(40px); 
  filter: blur(40px);
} */
/* div.sideImage:hover{
    -webkit-filter: none;
    filter: none;

} */

 footer{
    bottom:-20px;
    height:30px;
    background-color:white;
    width:100vw;
    margin-left:-8px;
}
p.footer{
font-size:22px;
float:right;
margin-top:22px;
margin-right:20px;
}

/* ProjektSeiten */

div.navigation{
  font-size: 22px;
  width:102%;
  background:white;
  border-bottom:black solid 2px;
  position:fixed;
  top:50px;
  height:25px;
  z-index:9;
  left:-8px;
  }

.navLeft{
position:fixed;   
float:left;
margin-top:-5px;
left:10px; 
text-align:left;   
}
.navRight{
    position:fixed;   
    display:float; 
    margin-top:-5px; 
    float:right;
   right:20px;
}
/* .navMid{
    position:fixed;   
    display:float;  
    float:center;
    text-align:center;
    margin-right:100px;
} */

/* div.sideImage2 {
    height: 58vh;
    width:50%;
    background-size: cover;
    background-position: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    margin-left:-8px;
    border-right: red solid 6px;
  } */

section.ganz{
width:100%;

}

div.fullImage {
  /* height: 58vh; */
  width:100%;
  background-size: cover;
  background-position: center;
  /* position: sticky;
  position: -webkit-sticky; */
  top: 0;
  
}
#prozess{
  width:100vw;
  background-size: cover;
  background-position: center;
  /* position: sticky;
  position: -webkit-sticky; */
  top: 0;
margin-left:-8px;

}

/* responsive */

  @media (max-width: 900px) {
    h1{
    font-size:22px;    
    }
    nav{
    font-size:22px;    
    }
    body {
      font-size: 15px;
    }
    
    h2 {
      font-size: 22px;
    }
    
    section {
      display: block;
    }
    
    section div {
      width:  100%;
    }
    
    section div.text {
      padding: 30px;
    }
    
    div.sideImage {
      width:100%;
    }
  }