@font-face {
  font-family: FavoritStd-Regular;
  src: url(assets/fonts/FavoritStd-Book.woff2);
}

* {
  box-sizing: border-box;
}

body {
  margin-top: 70px;
  color: black;
  font-family: FavoritStd-Regular, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.4;
}

header {
  background-color: white;
  position: fixed;
  height: 72px;
  top: 0;
  font-size: 22px;
  /* left: 20px; */
  margin-left: -10px;
  border-bottom: solid black 2px;
  min-width: 100.2%;
  z-index: 2;
  color: black;
  z-index: 99;
  font-weight: 400;
  transition: transform 0.5s;
}

header.expanded {
  height: 282px;
  transition: transform 0.5s;
}

.h1Left {
  float: left;
  position: fixed;
  font-size: 30px;
  top: 17px;
  left: 20px;
  /* z-index:3; */
}

/* header.h1{
padding: 10px 15px;
float:left;
left:10px;
overflow:hidden;
} */

a.showFilters {
  width: 100%;
  height: 72px;
  cursor: pointer;
}

nav {
  font-size: 30px;
  z-index: 3;
  color: black;
  text-decoration: none;
  float: right;
  text-align: right;
  margin-right: 20px;
  padding-top: 17px;
  cursor: pointer;
}

svg {
  width: 30px;
  height: auto;
}

.infoButton {
  text-align: center;
  /* width:100vw; */
  left: 48.5%;
  right: auto;
  position: fixed;
  float: inline;
  z-index: 2;
}

/* a.nav{
padding-left: 10px;
} */

/* Titel von Projekten */
h2 {
  font-weight: 400;
  font-size: 30px;
  /* line-height:1.4; */
  /* margin-top:17px; */
  padding-right: 20px;
}

/* Titel von Projekten */
h4 {
  font-weight: 400;
  font-size: 30px;
  /* line-height:1.4; */
  margin-top: 0px;
  margin-left: -15px;
  padding-right: 60px;
}

/* Kleiner text e.g. Konzept und Gestaltung */
h3 {
  margin-top: -20px;
  margin-left: 3px;
  font-weight: 400;
  font-size: 12px;
}

/* Fliesstext */
p {
  font-weight: 200;
  float: left;
  line-height: 1.35;
  font-size: 16px;
  margin-left: 2px;
  margin-top: 20px;
  padding-right: 60px;
}

#first {
  margin-top: -20px;
}

#rot {
  color: #FC0048;
}

#vio {
  color: #A23FA2;
}

#orange {
  color: #FD683A;
}

#braun {
  color: #B77F32;
}

#bord {
  color: #BD687F;
}

ul {
  margin-top: -2px;
  list-style-type: none;
}

a.nav {
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

/* a:hover{
opacity:0.5;    
} */

section.half {
  display: flex;
}

/* section:first-of-type{
  margin-top:72px;
} */

/* section.about {
  height: 80vh;
} */

.imageabout {
  object-fit: cover;
  width: 100vw;
}

section.projectPublik {
  border-top: #A23FA2 solid 2px;
  width: 100vw;
  margin-left: -8px;
}

section.projectGrafik {
  border-top: #FC0048 solid 2px;
  width: 100vw;
  margin-left: -8px;
}

section.projectEnde {
  border-top: black solid 2px;
  width: 100vw;
  margin-left: -8px;
}

section.projectCorporate {
  border-top: #BD687F solid 2px;
  width: 100vw;
  margin-left: -8px;
}

section.projectFotografie {
  border-top: #FD683A solid 2px;
  width: 100vw;
  margin-left: -8px;
}

section.projectDigital {
  border-top: #B77F32 solid 2px;
  width: 100vw;
  margin-left: -8px;
}

#firstNoBorder {
  border: none;
}

section.about {
  /* border-bottom:black solid 2px; */
  width: 100%;
  margin-left: 0px;
}


/* section:nth-child(odd) {
    flex-direction: row-reverse;
  } */

a.half {
  margin-left: -8px;
}

section.half div.half {
  width: 50vw;
}

section div.text {
  /* background-color:white; */
  /* padding-top: 60px; */
  height: 33.33vw;
  /* margin-right: 16px; */
}

section div.text2 {
  height: 20vh;
}

div.text {
  margin-top: -10px;
  margin-left: 20px;
}

div.text2 {
  padding-top: 20px;
  margin-left: 17px;
}

div.sideImage {
  /* height: 58vh; */
  width: 50vw;
  background-size: cover;
  background-position: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  margin-left: -20px;
}

div.sideImageA {
  /* height: 58vh; */
  width: 50vw;
  object-fit: cover;
  top: 0;
  margin-left: -30px;
}

img {
  object-fit: fill;
  height: 100vh;
}

.ignore-css {
  all: unset;
  width: 50.5vw;
  margin-bottom: -8px;
}

.ignore-cssAbout {
  all: unset;
  width: 50vw;
  margin-left: 40px;
}

#imageAbout {
  object-fit: fill;
  width: 502vw;
}

div.aboutcontainer{
margin-left:5%;
}


div.sideImageprojekte {
  width: 50vw;
  /* position: sticky;
    position: -webkit-sticky; */
  display: flex;
  flex-direction: row;
}

/* HIER BILDER GRÖSSE */
img.projekt {
  object-fit: cover;
  width: 50vw;
  margin: 0px;
  height: 33vw;
  margin-bottom: -5px;
}

div.image-Bord {
  background-image: url(assets/imgs/Farbflächen/Bord_BD687F.png);
}

div.image-Bord:hover {
  background-image: url(assets/imgs/2_5_Website_Freidorf_Weinetikette/2_5_c_Entwurfsphase/Grau_rgb_240.png);
  transition-delay: 0.1s;
  transition-timing-function: ease -webkit-animation: reveal 2s ease;
  -webkit-animation-fill-mode: backwards;
}

div.image-Braun {
  background-image: url(assets/imgs/Farbflächen/Braun_B77F32.png);
}

div.image-Braun:hover {
  background-image: url(assets/imgs/2_5_Website_Freidorf_Weinetikette/2_5_c_Entwurfsphase/Grau_rgb_240.png);
  transition-delay: 0.1s;
  transition-timing-function: ease -webkit-animation: reveal 2s ease;
  -webkit-animation-fill-mode: backwards;
}

div.image-Orange {
  background-image: url(assets/imgs/Farbflächen/Orange_FD683A.png);
}

div.image-Orange:hover {
  background-image: url(assets/imgs/2_5_Website_Freidorf_Weinetikette/2_5_c_Entwurfsphase/Grau_rgb_240.png);
  transition-delay: 0.1s;
  transition-timing-function: ease -webkit-animation: reveal 2s ease;
  -webkit-animation-fill-mode: backwards;
}

div.image-Rot {
  background-image: url(assets/imgs/Farbflächen/Rot_FC0048.png);
}

div.image-Rot:hover {
  background-image: url(assets/imgs/2_5_Website_Freidorf_Weinetikette/2_5_c_Entwurfsphase/Grau_rgb_240.png);
  transition-delay: 0.1s;
  transition-timing-function: ease -webkit-animation: reveal 2s ease;
  -webkit-animation-fill-mode: backwards;
}

div.image-Vio {
  background-image: url(assets/imgs/Farbflächen/Vio_A23FA2.png);
}

div.image-Vio:hover {
  background-image: url(assets/imgs/2_5_Website_Freidorf_Weinetikette/2_5_c_Entwurfsphase/Grau_rgb_240.png);
  transition-delay: 0.1s;
  transition-timing-function: ease -webkit-animation: reveal 2s ease;
  -webkit-animation-fill-mode: backwards;
}

div.image-Fwein {
  background-image: url(assets/imgs/2_5_Website_Freidorf_Weinetikette/2_5_a_Vorschaubild/2_5_Vorschaubild_Freidorf_Weinetikette_FC0048.png);
}

div.image-Fwein:hover {
  background-image: url(assets/imgs/2_5_Website_Freidorf_Weinetikette/2_5_a_Vorschaubild/2_5_Vorschaubild_Freidorf_Weinetikette.png);
  transition-delay: 0.1s;
  transition-timing-function: ease -webkit-animation: reveal 2s ease;
  -webkit-animation-fill-mode: backwards;
}

div.image-Post {
  background-image: url(assets/imgs/4_2_Website_Postkarten/4_2_a_Vorschaubild/4_2_Vorschaubild_Postkarten_fd683a.png);
}

div.image-Post:hover {
  background-image: url(assets/imgs/4_2_Website_Postkarten/4_2_a_Vorschaubild/4_2_Vorschaubild_Postkarten.png);
  transition-delay: 0.1s;
  transition-timing-function: ease -webkit-animation: reveal 2s ease;
  -webkit-animation-fill-mode: backwards;
}

div.image-FinfoTafel {
  background-image: url(assets/imgs/3_2_Website_Freidorf_Informationstafeln/3_2_a_Vorschaubild/3_2_Vorschaubild_Freidorf_Informationstafeln_A23FA2.png);
}

div.image-FinfoTafel:hover {
  background-image: url(assets/imgs/3_2_Website_Freidorf_Informationstafeln/3_2_a_Vorschaubild/3_2_Vorschaubild_Freidorf_Informationstafeln.png);
  transition-delay: 0.1s;
  transition-timing-function: ease -webkit-animation: reveal 2s ease;
  -webkit-animation-fill-mode: backwards;
}

div.image-JKF {
  background-image: cover;
  background-image: url(assets/imgs/1_1_Website_JKF/1_1_a_Vorschaubild/1_1_Vorschautbild_JKF_BD687F.png);
}

div.image-JKF:hover {
  background-image: url(assets/imgs/1_1_Website_JKF/1_1_a_Vorschaubild/1_1_Vorschautbild_JKF.png);
  transition-delay: 0.1s;
  transition-timing-function: ease -webkit-animation: reveal 2s ease;
  -webkit-animation-fill-mode: backwards;
}

div.image-FPub {
  background-image: cover;
  background-image: url(assets/imgs/2_1_Website_Freidorf_Publikation/2_1_a_Vorschaubild/2_1_Vorschaubild_Freidorf_Publikation_FC0048.png);
}

div.image-FPub:hover {
  background-image: url(assets/imgs/2_1_Website_Freidorf_Publikation/2_1_a_Vorschaubild/2_1_Vorschaubild_Freidorf_Publikation.png);
  transition-delay: 0.1s;
  transition-timing-function: ease -webkit-animation: reveal 2s ease;
  -webkit-animation-fill-mode: backwards;
}

div.image-Theo {
  background-image: cover;
  background-image: url(assets/imgs/2_4_Website_Theodorsvitrine/2_4_a_Vorschaubild/2_4_Vorschaubild_Theodorskirche_FC0048.png);
}

div.image-Theo:hover {
  background-image: url(assets/imgs/2_4_Website_Theodorsvitrine/2_4_a_Vorschaubild/2_4_Vorschaubild_Theodorskirche.png);
  transition-delay: 0.1s;
  transition-timing-function: ease -webkit-animation: reveal 2s ease;
  -webkit-animation-fill-mode: backwards;
}

div.image-Lauf {
  background-image: cover;
  background-image: url(assets/imgs/3_1_Website_Laufen_erzaehlt_Geschichte/3_1_a_Vorschaubild/5_3_Vorschaubild_Laufen_erzaehlt_Geschichte_XXXXX.png);
}

div.image-Lauf:hover {
  background-image: url(assets/imgs/3_1_Website_Laufen_erzaehlt_Geschichte/3_1_a_Vorschaubild/5_3_Vorschaubild_Laufen_erzaehlt_Geschichte.png);
  transition-delay: 0.1s;
  transition-timing-function: ease -webkit-animation: reveal 2s ease;
  -webkit-animation-fill-mode: backwards;
}

div.image-Coop {
  background-image: cover;
  background-image: url(assets/imgs/5_1_Website_Freidorf_Website/5_1_a_Vorschaubild/5_1_a_Vorschaubild_Coop-Game_B77F32.png);
}

div.image-Coop:hover {
  background-image: url(assets/imgs/5_1_Website_Freidorf_Website/5_1_b_Projektbilder/5_1_b_Projektbild_Coop-Game_15.png);
  transition-delay: 0.1s;
  transition-timing-function: ease -webkit-animation: reveal 2s ease;
  -webkit-animation-fill-mode: backwards;
}

div.image-Schatt {
  background-image: cover;
  background-image: url(assets/imgs/4_1_Website_Licht_und_Schatten/4_1_a_Vorschaubild/4_1_Vorschaubild_Licht_und_Schatten_FD683A.png);
}

div.image-Schatt:hover {
  background-image: url(assets/imgs/4_1_Website_Licht_und_Schatten/4_1_a_Vorschaubild/4_1_Vorschaubild_Licht_und_Schatten.png);
  transition-delay: 0.1s;
  transition-timing-function: ease -webkit-animation: reveal 2s ease;
  -webkit-animation-fill-mode: backwards;
}

div.image-Straf {
  background-image: cover;
  background-image: url(assets/imgs/2_2_Website_Strafgericht_Basel_Stadt/2_2_a_Vorschaubild/2_2_Projektbild_Strafgericht_farbig.png);
}

div.image-Straf:hover {
  background-image: url(assets/imgs/2_2_Website_Strafgericht_Basel_Stadt/2_2_b_Projektbilder/2_2_Projektbild_Strafgericht_09.png);
  transition-delay: 0.1s;
  transition-timing-function: ease -webkit-animation: reveal 2s ease;
  -webkit-animation-fill-mode: backwards;
}

div.image-Clau {
  background-image: cover;
  background-image: url(assets/imgs/2_6_Website_Editorial_ClaudiaBasel/2_6_a_Vorschaubild/2_1_Vorschaubild_Claudiabasel_FC0048.png);
}

div.image-Clau:hover {
  background-image: url(assets/imgs/2_6_Website_Editorial_ClaudiaBasel/2_6_b_Projektbilder/2_6_Entwurfsphase_ClaudiaBasel_01.png);
  transition-delay: 0.1s;
  transition-timing-function: ease -webkit-animation: reveal 2s ease;
  -webkit-animation-fill-mode: backwards;
}

div.image-Plakatpro {
  background-image: cover;
  background-image: url(assets/imgs/2_7_Website_Plakatprojekt/2_7_a_Vorschaubild/2_7_b_Vorschubild_Plakat_Projekt_.png);
}

div.image-Plakatpro:hover {
  background-image: url(assets/imgs/2_7_Website_Plakatprojekt/2_7_b_Projektbilder/2_7_b_Projektbild_Plakat_Projekt_02.png);
  transition-delay: 0.1s;
  transition-timing-function: ease -webkit-animation: reveal 2s ease;
  -webkit-animation-fill-mode: backwards;
}


div.image-Viz {
  background-image: cover;
  background-image: url(assets/imgs/1_2_Website_Vizeli/1_2_a_Vorschaubild/1_2_a_Projektbild_Vizeli_BD687F.png);
}

div.image-Viz:hover {
  background-image: url(assets/imgs/1_2_Website_Vizeli/1_2_a_Vorschaubild/1_2_a_Projektbild_Vizeli.png);
  transition-delay: 0.1s;
  transition-timing-function: ease -webkit-animation: reveal 2s ease;
  -webkit-animation-fill-mode: backwards;
}


div.image-Tra {
  background-image: cover;
  background-image: url(assets/imgs/2_3_Website_Trafina_Privatbank/2_3_a_Vorschaubild/2_3_a_Vorschaubild_Privatbank_FC0048.png);
}

div.image-Tra:hover {
  background-image: url(assets/imgs/2_3_Website_Trafina_Privatbank/2_3_a_Vorschaubild/2_3_a_Vorschaubild_Privatbank.png);
  transition-delay: 0.1s;
  transition-timing-function: ease -webkit-animation: reveal 2s ease;
  -webkit-animation-fill-mode: backwards;
}




/* div.sideImage{
  -webkit-filter: blur(40px); 
  filter: blur(40px);
} */
/* div.sideImage:hover{
    -webkit-filter: none;
    filter: none;

} */

/* projektseitenstruktur */
.main-container {
  display: flex;
  width: 100%;
  height: 100%;
  top: 72px;
  max-height: 100%;
}

.left-container {
  flex: 0 1 50%;
  min-height: 100%;
  min-width: 50%;
  padding-left: 12px;
  align-items: flex-start;
  background-color: white;
}

.text-container {
  position: -webkit-sticky;
  position: sticky;
  margin-top: -25px;
  top: 3rem;
  padding-top: 15px;
  background-color: white;
  height: 80vh;
}


.right-container {
  flex: 0 1 50%;
  display: flex;
  height: 100%;
  max-width: 50%;
  flex-wrap: wrap;
  align-items: flex-start;
}

#abstand {
  padding-bottom: 250px;
}

.half-containers {
  flex: 0 0 100%;
  max-height: 50%;
  min-height: 50%;
  max-width: 100%;
}

.notes-containers {
  flex: 0 0 100%;
  /* height: 30vh; */
  padding-top: 30%;
}

/* projektseite */

footer {
  padding: unset;
  bottom: -20px;
  height: 30px;
  border-top: solid black 2px;
  background-color: white;
  width: 100vw;
  margin-left: -8px;
}

p.footer {
  padding: unset;
  font-size: 22px;
  float: right;
  margin-bottom: 22px;
  margin-right: 20px;
}

/* footer.projektSeite{
  height:32px;
} */

/* ProjektSeiten */

div.navigation {
  font-size: 22px;
  width: 102%;
  background: white;
  border-bottom: black solid 2px;
  position: fixed;
  top: 50px;
  height: 25px;
  z-index: 9;
  left: -8px;
}

.navLeft {
  position: fixed;
  float: left;
  margin-top: -5px;
  left: 10px;
  text-align: left;
}

.navRight {
  position: fixed;
  display: float;
  margin-top: -5px;
  float: right;
  right: 20px;
}

/* .navMid{
    position:fixed;   
    display:float;  
    float:center;
    text-align:center;
    margin-right:100px;
} */

/* div.sideImage2 {
    height: 58vh;
    width:50%;
    background-size: cover;
    background-position: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    margin-left:-8px;
    border-right: red solid 6px;
  } */

/* section.ganz{
width:100%;
}

div.fullImage {
  width:100%;
  background-size: cover;
  background-position: center;
  top: 0;
} */

#nonOpaque {
  opacity: 1;
}

#nonOpaque:hover {
  opacity: 1;
}

#prozess {
  width: 100vw;
  background-size: cover;
  background-position: center;
  /* position: sticky;
  position: -webkit-sticky; */
  top: 0;
  margin-left: -8px;
}

/* responsive */

@media (max-width: 900px) {
  header {
    height: 60px;
  }

  .h1Left {
    font-size: 22px;
  }

  nav {
    font-size: 22px;
  }

  body {
    font-size: 22px;
    margin-top: 60px;
  }

  h2 {
    font-size: 22px;
  }

  section {
    display: block;
  }

  section div {
    width: 100%;
  }

  section div.text {
    padding: 30px;
  }

  div.sideImage {
    width: 100%;
  }


  /* projektseitenstruktur */
  img.projekt {
    width: 100vw;
    margin-left: -8px;
    height: 50vh;
  }

  .main-container {
    display: flex;
    width: 100%;
    height: 75%;
    max-height: 100%;
    flex-direction: column;
  }

  .left-container {
    flex: 0 1 50%;
    min-height: 50%;
    min-width: 100%;
    padding-left: 14px;
  }

  .right-container {
    flex: 0 1 50%;
    display: flex;
    height: 50%;
    max-width: 100%;
    flex-wrap: wrap;

  }

  .half-containers {
    flex: 0 0 100%;
    max-height: 50%;
    min-height: 50%;
    max-width: 100%;
  }

  .notes-containers {
    flex: 0 0 100%;
    /* height: 30vh; */
    padding-top: 30%;
  }

  /* projektseite */

  /* about */
  section.about {
    display: flex;
    width: 100%;
    height: auto;
    /* max-height: 100%; */
    flex-direction: column;
    flex-wrap: wrap;
  }

  section.abouthalf {
    width: 100vw;
  }

  

  div.imgAbout {
    padding: 0;
    /* margin:0; */
    width: 100%;
    /* height:auto; */
  }

  #aboutImage {
    margin: 2px;
    padding: 0;
    width: 103vw;
    height: auto;
  }

}

@media (max-width: 600px) {
  header {
    height: 50px;
  }

  .h1Left {
    font-size: 15px;
  }

  nav {
    font-size: 15px;
  }

  body {
    font-size: 15px;
    margin-top: 60px;
  }

  h2 {
    font-size: 22px;
  }

  section {
    display: block;
  }

  section div {
    width: 100%;
  }

  section div.text {
    padding: 30px;
  }

  div.sideImage {
    width: 100%;
  }


  /* projektseitenstruktur */
  img.projekt {
    width: 100vw;
    margin-left: -8px;
    height: 50vh;
  }

  img.imgAbout {
    width: 100vw;
    margin-left: -8px;
    height: 50vh;
  }

  .main-container {
    display: flex;
    width: 100%;
    height: 75%;
    max-height: 100%;
    flex-direction: column;
  }

  .left-container {
    flex: 0 1 50%;
    min-height: 50%;
    min-width: 100%;
    padding-left: 14px;
  }

  .right-container {
    flex: 0 1 50%;
    display: flex;
    height: 50%;
    max-width: 100%;
    flex-wrap: wrap;

  }

  .half-containers {
    flex: 0 0 100%;
    max-height: 50%;
    min-height: 50%;
    max-width: 100%;
  }

  .notes-containers {
    flex: 0 0 100%;
    /* height: 30vh; */
    padding-top: 30%;
  }

  /* projektseite */
}